@font-face {
    font-family: "Montserrat-VariableFont_wght";
    src: url("Montserrat-VariableFont_wght.ttf");
}

body {
    margin: 0;
    font-family: "Montserrat-VariableFont_wght";
    background: #C2CACD;
    overflow-y: scroll;
}

.header {
    width: 692px;
    height: max-content;
    padding: 15px;
    display: flex;
    flex-direction: row;
    margin-bottom: 21px;
    
    /* (ниже мое) */
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;
}

.header img {
    width: 146px;
    height: 81px;
    /* margin-left: 294px; */
}

.content {
    width: 1002px;
    background: rgb(224, 212, 241);
    box-shadow: 0 4px 5px 20px rgba(144, 103, 198, 0.17);
    height: ma;
    margin: auto;
}

.footer {

}
/*Классы кнопки в header*/
.description_header {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    /* margin: 0 0 0 42px; */

    /* (ниже мое) */
    margin: 0 0;
    text-align: center;
    height: auto;
    cursor: default;
}

.bn31 {
    /* border-radius: 9px; */
    /* color: white; */
    /* font-size: 1.4em; */
    padding: 4px;
    text-decoration: none;
    /* width: 246px; */
    /* margin-left: 52px; */

    /* (ниже мое) */
    width: 141px;
    font-size: 14px;
    /* height: 40px; */
    margin: auto 0;
    color: black;
    background-image: linear-gradient(to right, #92ddec 0%, #c28de69d 100%); 
    /* border-radius: 12px; */
    transition: 0.5s ease;
    border-radius: 40px; 
    box-sizing: border-box; 
    display: block; 
    height: 50px; 
    /* font-size: 1.4em;  */
    /* padding: 4px;  */
    position: relative; 
    text-decoration: none; 
    /* width: 7em;  */
}

.load-file {
    cursor: pointer;
    background-image: linear-gradient(to right, #7bbbc8 0%, #a478c29d 100%); 
}

.bn31:hover {
    color: #fff;
    /* background: linear-gradient(5deg, #9067C6, #9067C6, #000000, #000000); */

    /* (ниже мое) */
    background-image: linear-gradient(to right, #92ddec 0%, #c28de69d 100%); 
}

.load-file:hover {
    background-image: linear-gradient(to right, #7bbbc8 0%, #a478c29d 100%); 
}

.bn31 .bn31span {
    align-items: center;
    /* background: #0e0e10; */
    border-radius: 9px;
    display: flex;
    justify-content: center;
    height: 100%;
    /* transition: background 0.5s ease; */
    width: 100%;
    
    /* (ниже мое) */
    background: white;
    transition: 0.1s ease;
    font-weight: bold;
    align-items: center; 
    /* background: #0e0e10;  */
    border-radius: 40px; 
    display: flex; 
    justify-content: center; 
    height: 100%; 
    transition: background 0.5s ease; 
    width: 100%; 
}

.bn31:hover .bn31span {
    background: transparent;
}
/*Стили закончились*/

.file-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: 5px solid rgb(181, 161, 210);;
    cursor: pointer;
    transition: 0.5s ease;
    background-image: linear-gradient(to right, #92ddec 0%, #c28de69d 100%); 
    box-sizing: border-box; 
}

.file-type-name {
    z-index: 1;
}

.file-type-bn {
    z-index: 1;
}

.white-block {
    position: absolute;
    margin: -20.5px;
    background-color: white;
    height: 60px;
    width: 992.5px;
    transition: 0.5s ease;
    z-index: 0;
}

.file-type:hover {
    color: white;
}

.file-type:hover .white-block {
    background: transparent;
}

.file-type .file-type-bn {
    height: max-content;
    cursor: pointer;
    transition: 0.1s ease;
}

.file-type .file-type-bn svg {
    padding-top: 2px;
    margin-bottom: -2px;
    padding-right: 2px;
    margin-left: -2px;
}

.file-type .file-type-bn svg path {
    fill: rgb(195, 175, 222);
    transition: 0.5s ease;
}

.file-type:hover .file-type-bn svg path {
    fill: rgb(155, 138, 178);
}

.file-type .rotated {
    transform: rotate(3.142rad);
    margin-right: 2px;
}

/*Таблица началась*/
table {
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
}

table tr {
    background-color: white;
    border-bottom: 3px solid rgb(195, 175, 222);
    border-left: 3px solid rgb(195, 175, 222);
    border-right: 3px solid rgb(195, 175, 222);
}

table tr .sort-cat {
    cursor: default;
    padding: 4px;
    border: 3px solid rgb(195, 175, 222);
}

table tr .sort-filenames {
    width: 380px;
}

table tr .sort-author {
    width: 200px;
}

table tr .sort-editdate {
    width: 155px;
}

table tr td .sort-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table tr td .sort-content .sort-bn {
    height: max-content;
    cursor: pointer;
}

table tr td .sort-content .sort-bn svg {
    padding-top: 2px;
    margin-bottom: -2px;
    padding-right: 2px;
    margin-left: -2px;
}

table tr td .sort-content .sort-bn svg path {
    fill: rgb(195, 175, 222);
    transition: 0.1s ease;
}

table tr td .sort-content .sort-bn:hover svg path {
    fill: rgb(155, 138, 178);
}

.open-file {
    margin: auto;
    width: 161px;
    font-family: "Montserrat-VariableFont_wght";
    background-image: linear-gradient(to right, #92ddec 0%, #c28de69d 100%); 
}

td, th {
    text-align: left;
    padding: 8px;
}



/*tr:nth-child(even) {*/
/*    background-color: #dddddd;*/
/*}*/

table {
    display: none;
}

.visible {
    display: table;
}

/*Таблица закончилась*/

/*Кнопки для таблицы*/

.sort-cat .input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.input__file {
    height: 50px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 160px;
}

.input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
}

.input__file-button {
    width: 100%;
    max-width: 290px;
    height: 60px;
    background: #adf2e4;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}
/*Стили закончились*/

/*footer*/

.footer_p {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: auto 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
